#container {
  font-family: "PT Sans"
}
#header {
  background-color: white;


 }
#fullname {
  float:left;
  border:5px solid black;
  margin-bottom:1px;
  padding:5px;
  margin-left:15px;
}

#navigation{
  float:right;
  
}
#navigation li {
  display:inline;
  margin:15px;
}

a {
  text-decoration:none;
  color:black;
}
#title {
  
  height:15px;
  margin-top:8px;
  margin-bottom:15px;
  margin-left:20px;
  font-size:15px;

  }
#current {
  list-style:none;
}
#current li {
  display:inline;
  margin-right:5px;
  margin-left:-25px;
}
#work {
margin-left:15px;
margin-right:15px;
padding:10px;
background-color:white;
position:block;
}

  
#middle-header {
  text-align:center;
}
#Connect {
  background-color:#B2C7D5;
  margin-left:15px;
  margin-right:15px;
  padding:10px;
  position:block;
}
#connect-header  {
  text-align:center;
  
}
#connect-paragraph {
 text-align:center; 
 text-family: PT Sans;
}
#footer {
  background-color:#504a46;
  text-align:center;
  margin-left:15px;
  margin-right:15px;
  }

#copyright {
  color:white;
}
